/* Home.css */

body {
    background-color: #181a1b;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color:black;
    height: 100%;
}

.settings {
    height: 100%;
}
.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    background-color: rgb(21,21,21);
    padding: 10px 20px;
    color: white;
}

.header > * {
    display: inline-grid;
}


.logo, .nav-button1, .nav-button2 .status {
    display: inline-grid;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    
    font-weight: bolder;
}

.nav-button1 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.nav-button2 {
    grid-column-start: 4;
    grid-column-end: 5;
}

.nav-button {
    padding: 10px 15px;
    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    
}

.nav-button:hover {
    background-color: #e1e1e1;
}

.status {
    grid-column-start: 6;
    grid-column-end: 7;
    
    font-weight: bold;
}

.home {
    text-align: center;
    padding: 20px;
}

.maps {
    width: 80%;
    height: 600px;
    margin: 20px auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    
}

#map {
    width: 100%;
    height: 100%;
}

.server-text {
    font-size: 1.2em;
    margin-top: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .maps {
        width: 95%;
    }

    h1 {
        font-size: 2em;
    }

    .header {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .nav-buttons {
        justify-content: flex-start;
    }

    .status {
        text-align: left;
    }
}


#bottom {
    margin-top: 20px;
    background-color: white;
}
